body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#seesaw-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 40px 80px;
    width: 800px;
}

#control-panel {
    margin-bottom: 20px;
    background-color: #d4d6d4;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.next_weight {
    color: #da5c40;
    font-weight: bold;
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#pause-button {
    padding: 10px 20px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    width: 150px;
    border-radius: 10px;
    background-color: #16af62;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}



#pause-button.paused {
    background-color: #a32c24;
}

#reset-button {
    padding: 10px 20px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #6c62cc;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}

#reset-button:hover {
    background-color: #574bb8;
}

#seesaw {
    position: relative;
    width: 600px;
    height: 200px;
    margin-top: 50px;
    border-radius: 30px;
    padding: 60px;
}

#plank {
    position: absolute;
    bottom: 60px;
    width: 400px;
    height: 30px;
    left: 50%;
    background-color: #8B4513;
    transform: translateX(-50%);
    cursor: pointer;
    transition: transform 2s ease;
}

#pivot {
    position: absolute;
    left: 50%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 60px solid #383737;
    bottom: 0;
    transform: translateX(-50%);
}


.weight {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ca7848;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 21px;

    transform: translateX(-50%);
    bottom: 30px;

    pointer-events: none;
}
