body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#seesaw-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 40px 80px;
}

#control-panel {
    margin-bottom: 20px;
    background-color: #d4d6d4;
    padding: 20px;
    border-radius: 10px;
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 20px;
}

#reset-button:hover {
    background-color: #45a049;
}

#seesaw {
    background-color: #cac9c9;
    position: relative;
    width: 600px;
    height: 200px;
    margin-top: 50px;
    border-radius: 30px;
    padding: 60px;
}

#plank {
    position: absolute;
    bottom: 60px;
    width: 400px;
    height: 20px;
    left: 50%;
    background-color: #8B4513;
    transform: translateX(-50%);
    cursor: pointer;
    transition: transform 0.5s ease;
}

#pivot {
    position: absolute;
    left: 50%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 60px solid #383737;
    bottom: 0;
    transform: translateX(-50%);
}


.weight {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #485bca;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;

    transform: translateX(-50%);
    bottom: 20px;

    pointer-events: none;
}
